@font-face {
  font-family: "Fredoka";
  src: url(/fonts/Fredoka.ttf?250a4e837ebe08c527c7aaac1193aabb) format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.form-group {
  display: flex;
  gap: 10px;
  margin: 0;
}
.form-group .form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-group input {
  height: 45px;
}
.form-group select {
  margin: 0;
  margin-bottom: 2px;
  height: 45px;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

body#adm_body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  color: #FFFFFF;
  position: relative;
  overflow-x: hidden;
}

.pagination-content {
  margin: 0;
  padding: 25px 10px 15px 10px;
}
.pagination-content ul.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 0;
}
.pagination-content ul.pagination li {
  list-style: none;
  margin: 0;
}
.pagination-content ul.pagination li.disabled {
  display: none;
}
.pagination-content ul.pagination li a,
.pagination-content ul.pagination li span {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  background-color: #1e1f25;
}
.pagination-content ul.pagination li span {
  background-color: #2a6fff;
}

#btn-menu {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 2;
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: none;
}
#btn-menu svg {
  font-size: 38px;
  color: #FFFFFF;
}

@media (max-width: 970px) {
  #btn-menu {
    display: flex;
  }
}
@media (max-width: 720px) {
  #btn-menu {
    top: 28px;
    left: 20px;
  }
}
@media (max-width: 430px) {
  .form-group {
    flex-direction: column;
  }
  .form-group .form {
    margin: 0;
  }
}
.ajax_load {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #131517;
  opacity: 0.4;
  display: none;
  justify-content: center;
  align-items: center;
}
.ajax_load .lds-ripple {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.ajax_load .lds-ripple div {
  position: absolute;
  border: 6px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ajax_load .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.ajax_response {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #eb2f06;
}

/* MCE Upload */
.mce_upload {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.2);
}
.mce_upload .mce_upload_box {
  margin: auto;
  width: 400px;
  max-width: 90%;
  background: #2d3436;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}
.mce_upload .mce_upload_box label .mce_response {
  display: block;
  color: #ff3f34;
  padding: 5px 0;
}
.mce_upload .mce_upload_box label label.legend {
  display: block;
}
.mce_upload .mce_upload_box .btn {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  font-size: 18px;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
  background-color: #131517;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}
header span {
  color: #FFFFFF;
  margin: 0;
  margin-right: 15px;
  font-weight: 600;
  font-size: 16px;
}
header .profile {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #FFFFFF;
}
header .profile img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  width: 100%;
  flex: 1;
}
section h2 {
  margin-bottom: 20px;
}
section h2 span {
  color: #b4b4b4;
}

@media (max-width: 970px) {
  main {
    left: 0;
  }
}
@media (max-width: 720px) {
  main {
    padding: 20px;
  }
}
@font-face {
  font-family: "Fredoka";
  src: url(/fonts/Fredoka.ttf?250a4e837ebe08c527c7aaac1193aabb) format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Fredoka", sans-serif;
}

body#login_body {
  background-color: #131517;
  width: 100vw;
  height: 100vh;
}
body#login_body main {
  width: 100%;
  display: flex;
}
body#login_body main .cover {
  width: 350px;
  height: 100vh;
  background-image: url(/images/cover.jpg?47e137fe05b82d42689c784b6eb7494b);
  background-repeat: no-repeat;
  background-size: cover;
}
body#login_body main .area-form {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body#login_body main .area-form form {
  display: flex;
  flex-direction: column;
  width: 340px;
  color: #FFFFFF;
  background-color: #1e1f25;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: rgba(95, 95, 95, 0.4) 0px 2px 4px, rgba(87, 87, 87, 0.3) 0px 7px 13px -3px, rgba(92, 92, 92, 0.2) 0px -3px 0px inset;
}
body#login_body main .area-form form h1 {
  font-size: 26px;
  margin-bottom: 20px;
}
body#login_body main .area-form form label,
body#login_body main .area-form form input,
body#login_body main .area-form form button,
body#login_body main .area-form form div {
  width: 100%;
}
body#login_body main .area-form form label {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 600;
}
body#login_body main .area-form form input[type=email],
body#login_body main .area-form form input[type=password] {
  height: 38px;
  margin-bottom: 15px;
  padding-left: 8px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: #1e1f25;
}
body#login_body main .area-form form .remember {
  display: block;
  text-align: start;
  height: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}
body#login_body main .area-form form .remember label {
  width: auto;
  font-size: 14px;
}
body#login_body main .area-form form .remember input[type=checkbox] {
  width: 20px;
}
body#login_body main .area-form form input[type=submit] {
  height: 38px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
  letter-spacing: 2.2px;
  cursor: pointer;
  background-color: #2a6fff;
  color: white;
  margin-top: 30px;
}
body#login_body main .area-form form input[type=submit]:hover {
  filter: brightness(105%);
}

@media (max-width: 740px) {
  body#login_body main {
    width: 100%;
    display: flex;
  }
  body#login_body main .cover {
    display: none;
  }
  body#login_body main .area-form {
    padding: 0 10px;
  }
  body#login_body main .area-form form {
    width: 100%;
    max-width: 450px;
  }
}
aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #1e1f25;
  padding: 50px 0 20px 30px;
}

.logo {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 50px;
}

nav.nav-menu {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}
nav.nav-menu a {
  color: #b4b4b4;
  width: 100%;
  height: 38px;
  text-decoration: none;
  text-align: start;
  border-right: 3px solid #1e1f25;
  letter-spacing: 1.1px;
  font-size: 16px;
  line-height: 38px;
}
nav.nav-menu a svg {
  margin-right: 10px;
  font-size: 18px;
}
nav.nav-menu a:hover, nav.nav-menu a.active {
  color: #FFFFFF;
  border-right: 3px solid #2a6fff;
}
nav.nav-menu a:hover svg, nav.nav-menu a.active svg {
  color: #2a6fff;
}

@media (max-width: 970px) {
  aside {
    left: -200px;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  aside.active {
    left: 0;
  }
}
section.dashboard .content {
  display: flex;
  gap: 10px;
}
section.dashboard .content .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  width: 100%;
}
section.dashboard .content .left .amounts {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 160px;
}
section.dashboard .content .left .amounts .box {
  background-color: #1e1f25;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
section.dashboard .content .left .amounts .box h3 {
  width: 100%;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 600;
  text-align: start;
}
section.dashboard .content .left .amounts .box .amount {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
section.dashboard .content .left .amounts .box .amount span {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
section.dashboard .content .left .amounts .box .amount svg {
  font-size: 35px;
  margin: 0;
}
section.dashboard .content .left .chart-days {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: #1e1f25;
}
section.dashboard .content .left .chart-days canvas {
  width: 100%;
  height: 500px;
}
section.dashboard .content .right {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.dashboard .content .right .chart-most-visited-pages {
  width: 100%;
  height: 330px;
  background-color: #1e1f25;
  border-radius: 10px;
  padding: 20px;
}
section.dashboard .content .right .chart-devices {
  background-color: #1e1f25;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  flex: 1;
}

@media (max-width: 970px) {
  section.dashboard .content {
    flex-direction: column;
  }
  section.dashboard .content .left {
    width: 100%;
    padding: 0;
  }
  section.dashboard .content .right {
    width: 100%;
  }
  section.dashboard .content .right canvas#chartMostVisitedPages {
    width: 100%;
  }
  section.dashboard .content .right canvas#chartDevices {
    width: 100%;
  }
}
@media (max-width: 720px) {
  section.dashboard .content {
    flex-direction: column;
  }
  section.dashboard .content .left .amounts {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
section.article-post .content {
  display: flex;
}

.left {
  width: 210px;
  padding-right: 20px;
}
.left ul {
  list-style: none;
  padding: 0;
}
.left ul li {
  padding: 8px 0 8px 10px;
  margin: 8px 0;
  border-radius: 8px;
}
.left ul li.active, .left ul li:hover {
  background-color: #1e1f25;
}
.left ul li a {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  display: block;
}
.left ul li a svg {
  margin-right: 5px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right.category header, .right.post header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right.category header h2, .right.post header h2 {
  margin: 0;
}
.right.category header h2 svg, .right.post header h2 svg {
  padding-right: 6px;
}
.right.category header a, .right.post header a {
  padding: 6px 12px;
  background-color: #2a6fff;
  color: #FFFFFF;
  border-radius: 12px;
  text-decoration: none;
  margin: 0;
}
.right.category header a:hover, .right.post header a:hover {
  filter: brightness(105%);
}
.right.category header a svg, .right.post header a svg {
  margin-right: 6px;
}

.list-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.list-post .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.list-post .post .status-post {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 6px;
       column-gap: 6px;
  font-size: 13px;
}
.list-post .post a {
  font-size: 17px;
  text-align: center;
}
.list-post .post a:hover {
  color: #b4b4b4;
  text-decoration: underline;
}
.list-post .post img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.list-post .post .btns {
  margin-top: 5px;
}
.list-post .post .btns a {
  text-decoration: none;
  font-size: 14px;
}
.list-post .post .btns a svg {
  margin-right: 2px;
}
.list-post .post .btns a:first-child {
  margin-right: 8px;
}
.list-post .post .btns a:first-child:hover {
  color: #f9ca24;
}
.list-post .post .btns a:last-child:hover {
  color: #ff3f34;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.categories .category {
  width: 100%;
  height: 180px;
  background-color: #1e1f25;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.categories .category .cover {
  background-color: #131517;
  width: 220px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
}
.categories .category .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories .category .info {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.categories .category .info h2 {
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 30px;
}
.categories .category .info p {
  margin: 0;
  color: #b4b4b4;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 54px;
}
.categories .category .info .btns {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 28px;
}
.categories .category .info .btns a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}
.categories .category .info .btns a svg {
  margin-right: 2px;
}
.categories .category .info .btns a:first-child:hover {
  color: #f9ca24;
}
.categories .category .info .btns a:last-child:hover {
  color: #ff3f34;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form label {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 18px;
}
form input {
  margin: 0;
  margin-bottom: 2px;
  height: 45px;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
}
form input.is-invalid,
form select.is-invalid {
  border: 2px solid #ff3f34;
}
form span {
  width: 100%;
  text-align: start;
  font-size: 16px;
  color: #ff3f34;
}
form span.mce-txt,
form span.mce-wordcount {
  color: #333;
}
form input[name=description] {
  height: 80px;
}
form .cover-box {
  margin: 5px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
form .cover-box .input-cover {
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 10px 0 5px 0;
}
form .cover-box .input-cover input {
  height: auto;
  margin: 0;
  margin-top: 4px;
}
form .cover-box img {
  max-width: 100%;
  max-height: 150px;
  margin: 0;
}
form .al-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
form .al-right button {
  margin: 0;
  padding: 8px 16px;
  background-color: #2a6fff;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 20px;
}
form .al-right button:hover {
  filter: brightness(105%);
}
form .al-right button svg {
  margin-right: 4px;
}

@media (max-width: 720px) {
  section.article-post .content {
    flex-direction: column;
    width: 100%;
  }

  .left {
    margin: 0;
    margin-bottom: 20px;
  }

  .right {
    width: 100%;
  }

  .list-post {
    grid-template-columns: repeat(2, 1fr);
  }

  .right.category .categories .category {
    flex-direction: column;
    height: 350px;
  }
  .right.category .categories .category .cover {
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 430px) {
  .right.category header {
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin: 0 0 20px 0;
  }

  .list-post {
    grid-template-columns: repeat(1, 1fr);
  }
}
