$dark: #131517;
$dark-light: #1e1f25;

$white: #FFFFFF;
$white-light: #FCFCFC;

$gray: #b4b4b4;

$blue: #2a6fff;

$error: #eb2f06;

$weight-light: 300;
$weight-normal: 400;
$weight-bold: 600;
$weight-black: 900;

$radius-normal: 5px;
$radius-medium: 10px;
$radius-large: 20px;
$radius-round: 50%;
