@font-face {
  font-family: 'Fredoka';
  src: url(../../fonts/Fredoka.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Fredoka', sans-serif;
}

.form-group {
  display: flex;
  gap: 10px;
  margin: 0;

}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
}

select {
  margin: 0;
  margin-bottom: 2px;
  height: 44px;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

// Main (adm/common/template)
body#adm_body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  color: $white;
  position: relative;
  overflow-x: hidden;

  .pagination-content {
    margin: 0;
    padding: 25px 10px 15px 10px;
    
    ul.pagination {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
      column-gap: 10px;
      padding: 0;

      li {
        list-style: none;
        margin: 0;

        &.disabled {
          display: none;
        }
        
        a,
        span {
          color: $white;
          text-decoration: none;
          padding: 10px 15px;
          border-radius: 50%;
          font-size: 16px;
          font-weight: 600;
          background-color: $dark-light;
        }

        span {
          background-color: $blue;
        }
      }
    }
  }

  #btn-menu {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 2;
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: none;

    svg {
      font-size: 38px;
      color: $white;
    }
  }

  // Sidebar (adm/common/sidebar)
  aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: $dark-light;
    padding: 50px 0 20px 30px;

    .logo {
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 50px;
    }

    nav.nav-menu {
      width: 100%;
      flex: 1;
      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;

      a {
        color: $gray;
        width: 100%;
        height: 38px;
        text-decoration: none;
        text-align: start;
        border-right: 3px solid $dark-light;
        letter-spacing: 1.1px;
        font-size: 16px;
        line-height: 38px;

        svg {
          margin-right: 10px;
          font-size: 18px;
        }

        &:hover,
        &.active {
          color: $white;
          border-right: 3px solid $blue;

          svg {
            color: $blue;
          }
        }
      }
    }
  }
  

  main {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    min-height: 100vh;

    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 40px;

      span {
        color: $white;
        margin: 0;
        margin-right: 15px;
        font-weight: 600;
        font-size: 16px;
      }

      .profile {
        margin: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid $white;

        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }

    section {
      width: 100%;
      flex: 1;

      h2 {
        margin-bottom: 20px;

        span {
          color: $gray;
        }
      }

      // Dashboard (adm/dashboard/home)
      &.dashboard {
        .content {
          display: flex;
          gap: 30px;

          .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .amounts {
              display: grid;
              width: 100%;
              grid-template-columns: repeat(3, 1fr);
              gap: 20px;
              height: 160px;

              .box {
                background-color: $dark-light;
                width: 100%;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                h3 {
                  width: 100%;
                  letter-spacing: 1.5px;
                  font-size: 16px;
                  font-weight: 600;
                  text-align: start;
                }
    
                .amount {
                  flex: 1;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;

                  span {
                    font-size: 30px;
                    font-weight: 600;
                    margin: 0;
                  }
    
                  svg {
                    font-size: 35px;
                    margin: 0;
                  }
                }
              }
            }

            .chart-days {
              width: 100%;
              height: 500px;
              border-radius: 10px;
              padding: 20px;
              background-color: $dark-light;

              canvas {
                width: 100%;
                height: 500px;
              }
            }
          }

          .right {
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            canvas#chartMostVisitedPages {
              width: 100%;
              height: 370px;
              background-color: $dark-light;
              border-radius: 10px;
              padding: 20px;
            }

            canvas#chartDevices {
              background-color: $dark-light;
              border-radius: 10px;
              padding: 20px;
              width: 100%;
              height: 250px;
            }
          }
        }
      }

       
      // Post (adm/posts/*)
      &.article-post {
        .content {
          display: flex;

          .left {
            width: 210px;
            padding-right: 20px;

            ul {
              list-style: none;
              padding: 0;

              li {
                padding: 8px 0 8px 10px;
                margin: 8px 0;
                border-radius: 8px;

                &.active,
                &:hover {
                  background-color: $dark-light;
                }

                a {
                  text-decoration: none;
                  color: $white;
                  width: 100%;
                  display: block;

                  svg {
                    margin-right: 5px;
                  }
                }
              }
            }
          }

          .right {
            flex: 1;
            display: flex;
            flex-direction: column;

            // Posts-Categories (adm/posts/categories/*)
            // Post (adm/post/*)
            &.category,
            &.post {
              header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                h2 {
                  margin: 0;

                  svg {
                    padding-right: 6px;
                  }
                }

                a {
                  padding: 6px 12px;
                  background-color: $blue;
                  color: $white;
                  border-radius: 12px;
                  text-decoration: none;
                  margin: 0;

                  &:hover {
                    filter: brightness(105%);
                  }
  
                  svg {
                    margin-right: 6px;
                  }
                }
              }

              // Posts-Categories (adm/posts/categories/home)
              .categories {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                .category {
                  width: 100%;
                  height: 180px;
                  background-color: $dark-light;
                  padding: 20px;
                  border-radius: 8px;
                  display: flex;
                  justify-content: flex-start;
                  gap: 25px;

                  .cover {
                    background-color: $dark;
                    width: 220px;
                    height: 100%;
                    border-radius: 8px;
                    overflow: hidden;
                    margin: 0;

                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }

                  .info {
                    margin: 0;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;

                    h2 {
                      font-size: 22px;
                      font-weight: 600;
                      color: $white;
                      margin: 0;
                      margin-bottom: 10px;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      height: 30px;
                    }

                    p {
                      margin: 0;
                      color: $gray;
                      font-size: 14px;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      height: 54px;
                    }

                    .btns {
                      width: 100%;
                      margin-top: 30px;
                      display: flex;
                      gap: 28px;

                      a {
                        text-decoration: none;
                        color: $white;
                        margin: 0;

                        svg {
                          margin-right: 2px;
                        }

                        &:first-child:hover {
                          color: #f9ca24;
                        }

                        &:last-child:hover {
                          color: #ff3f34;
                        }
                      }
                    }
                  }
                }
              }

              // Posts-Categories (adm/posts/categories/create&edit)
              form {
                display: flex;
                flex-direction: column;
                width: 100%;



                label {
                  margin: 0;
                  margin-top: 10px;
                  margin-bottom: 2px;
                  font-size: 18px;
                }

                input {
                  margin: 0;
                  margin-bottom: 2px;
                  height: 45px;
                  padding: 6px;
                  border-radius: 5px;
                  outline: none;
                  font-size: 16px;
                }

                input.is-invalid {
                  border: 2px solid #ff3f34;
                }

                span {
                  width: 100%;
                  text-align: start;
                  font-size: 16px;
                  color: #ff3f34;
                }

                span.mce-txt,
                span.mce-wordcount {
                  color: #333;
                }

                input[name=description] {
                  height: 80px;
                }

                .cover-box {
                  margin: 5px 0;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;

                  .input-cover {
                    margin: 0;
                    display: flex;
                    align-items: flex-start;
                    gap: 5px;
                    padding: 10px 0 5px 0;

                    input {
                      height: auto;
                      margin: 0;
                      margin-top: 4px;
                    }
                  }

                  img {
                    max-width: 100%;
                    max-height: 150px;
                    margin: 0;
                  }
                }

                .al-right {
                  width: 100%;
                  display: flex;
                  justify-content: flex-end;

                  button {
                    margin: 0;
                    padding: 8px 16px;
                    background-color: $blue;
                    color: $white;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    font-weight: bolder;
                    cursor: pointer;
                    margin-top: 20px;

                    &:hover {
                      filter: brightness(105%);
                    }

                    svg {
                      margin-right: 4px;
                    }
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
  // Main (adm/common/template)
  body#adm_body {

    #btn-menu {
      display: flex;
    }
    
    // Sidebar (adm/common/sidebar)
    aside {
      left: -200px;
      z-index: 10;
      transition: all .4s ease-in-out;

      &.active {
        left: 0;
      }
    }

    main {
      left: 0;

      // Dashboard (adm/dashboard/home)
      section.dashboard {

        .content {
          flex-direction: column;

          .right {
            width: 100%;

            canvas#chartMostVisitedPages {
              width: 100%;
            }

            canvas#chartDevices {
              width: 100%;
            }
          }
        }
      }

      section.article-post {
        //
      }
    }
  }
}

@media (max-width: 720px) {
  // Main (adm/common/template)
  body#adm_body {

    #btn-menu {
      top: 28px;
      left: 20px;
    }

    main {
      padding: 20px;

      // Dashboard (adm/dashboard/home)
      section.dashboard {

        .content {
          flex-direction: column;

          .left {

            .amounts {
              height: auto;
              grid-template-columns: repeat(1, 1fr);
            }
          }
        }
      }

      section.article-post {
        .content {
          flex-direction: column;
          width: 100%;

          .left {
            margin: 0;
            margin-bottom: 20px;
          }

          .right {
            width: 100%;

            &.category {
              // Posts-Categories (adm/posts/categories/home)
              .categories {

                .category {
                  flex-direction: column;
                  height: 350px;

                  .cover {
                    width: 100%;
                    height: 180px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  // Main (adm/common/template)
  body#adm_body {

    main {

      section.article-post {
        .content {

          .right {

            &.category {
              // Posts-Categories (adm/posts/categories/home)

              header {
                flex-direction: column;
                align-items: start;
                gap: 30px;
                margin: 0 0 20px 0;
              }

              .categories {

                .category {

                }
              }
            }
          }
        }
      }
    }
  }

  .form-group {
    flex-direction: column;

    .form {
      margin: 0;
    }
  }
}