@charset "UTF-8";

@font-face {
    font-family: 'Fredoka';
    src: url(fonts/Fredoka.ttf);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --white-light: #FCFCFC;
    --black: #0F1013;
    --black-light: #5a5a5afd;
    --orange: #FD5E17;
    --orange-light: #fb4d00;
    --gray: #D6D6D6;

    --separate-color: #19191914;
    --bg-body: #EFEFEF;
}
  
h1, h2, h3, h4, h5, h6, figure {
    color: var(--black);
    font-family: "Fredoka", Arial, sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.width-full {
    width: 100vw;
}

.center {
    margin: 0 auto;
}

.container {
    max-width: 1100px;
}

.mt-20 {
    margin-top: 20px;
}

.my-20 {
    margin: 20px 0;
}
