body#login_body {
    background-color: $dark;
    width: 100vw;
    height: 100vh;

    main {
        width: 100%;
        display: flex;

        .cover {
            width: 350px;
            height: 100vh;
            background-image: url(../../../../public/storage/media/cover-login/cover.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .area-form {
            flex: 1;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                width: 340px;
                color: $white;
                background-color: $dark-light;
                padding: 30px 20px;
                border-radius: 20px;
                box-shadow: rgba(95, 95, 95, 0.4) 0px 2px 4px, rgba(87, 87, 87, 0.3) 0px 7px 13px -3px, rgba(92, 92, 92, 0.2) 0px -3px 0px inset;

                h1 {
                    font-size: 26px;
                    margin-bottom: 20px;
                }

                label,
                input,
                button,
                div {
                    width: 100%;
                }

                label {
                    margin-bottom: 2px;
                    font-size: 16px;
                    font-weight: 600;
                }

                input[type=email],
                input[type=password] {
                    height: 38px;
                    margin-bottom: 15px;
                    padding-left: 8px;
                    font-size: 16px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    font-weight: 600;
                    color: $dark-light;
                }

                .remember {
                    display: block;
                    text-align: start;
                    height: 30px;
                    line-height: 30px;
                    margin-bottom: 30px;
                     
                    label {
                        width: auto;
                        font-size: 14px;
                    }
                    input[type=checkbox] {
                        width: 20px;
                    }
                }

                input[type=submit] {
                    height: 38px;
                    font-size: 20px;
                    font-weight: 600;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    letter-spacing: 2.2px;
                    cursor: pointer;
                    background-color: $blue;
                    color: white;

                    &:hover {
                        filter: brightness(105%);
                    }
                }
            }
        }
    }
}

@media (max-width: 740px) {
    body#login_body {

        main {
            width: 100%;
            display: flex;
    
            .cover {
                display: none;
            }

            .area-form {
                padding: 0 10px;

                form {
                    width: 100%;
                    max-width: 450px;
                }
            }
        }
    }
}   